.ep-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ep-data {
  padding: 20px;
}

.button-container {
    width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.prev-button-top,
.next-button-top,
.prev-button,
.next-button {
  max-width: fit-content;
  flex: 1;
  margin: 0 10px;
}
